<!DOCTYPE html>
<html ng-app="agendaTelefonica">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Agenda Telefônica</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="container-fluid">
				<div class="row" ng-controller="listaTelefonicaCtrl">
				<h2><center>{{app}}</center></h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Nome</th>
							<th>Apelido</th>
							<th>Telefone</th>
							<th>Operadora</th>
							<th>Código</th>
						</tr>
					
					</thead>
					<tbody>
						<tr ng-repeat="contato in contatos">
							<td>
								<input type="checkbox">
							</td>
							<td>{{contato.nome}}</td>
							<td>{{contato.apelido}}</td>
							<td>{{contato.telefone}}</td>
							<td>{{contato.operadora.nome}}</td>
							<td>{{contato.operadora.codigo}}</td>
						
						</tr>
					</tbody>				

				</div>
				</table>
				
			</div>
		</div>	
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>

		<script src="js/app.js"></script>
	</body>
</html>